repos:

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: [ --multi-line=3, --trailing-comma, --force-grid-wrap=0, --use-parentheses, --line-width=88]

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
    - id: flake8
      args: [--max-line-length=89, --max-complexity=15]

    # Code Complexity Score Rank
    # 1 to 5	A	low - simple block
    # 6 - 10	B	low - well structured and stable block
    # 11 - 20	C	moderate - slightly complex block
    # 21 - 30	D	more than moderate - more complex block
    # 31 - 40	E	high - complex block, alarming
    # 41+	F	very high - error-prone, unstable block


  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: ["types-toml", "types-setuptools", "types-requests", "types-attrs"]
        args: [--ignore-missing-imports]

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0  # pick a git hash / tag to point to
    hooks:
      - id: pydocstyle
        args: [--convention=google, --add-ignore=D104]

  - repo: https://github.com/asottile/blacken-docs
    rev: 1.13.0
    hooks:
      - id: blacken-docs

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude: ^docs/*
      - id: end-of-file-fixer
        exclude: ^docs/*
      - id: debug-statements
      - id: check-case-conflict
      - id: check-json
      - id: check-yaml
        args: ['--unsafe']
      - id: mixed-line-ending
      - id: check-toml
      - id: pretty-format-json
      - id: check-docstring-first
      - id: check-symlinks
      - id: detect-private-key

  - repo: https://github.com/PyCQA/bandit
    rev: '1.7.5'
    hooks:
      - id: bandit
        args: ["--skip=B101"]

  - repo: local
    hooks:
    - id: radon
      name: radon
      entry: radon
      verbose: true
      language: python
      additional_dependencies: [radon]
      args: ["cc", "--min=C","--total-average","--exclude=tests/*.py"]
